# ## Import libraries and dataframe

In [28]:
# import libraries
import numpy as np
import pandas as pd
import os

In [29]:
path = r'/Users/gomula/Documents/Instacart Basket Analysis 14.05.2023'
ords_prods_merge = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged_ver2.pkl'))

In [30]:
ords_prods_merge.shape

(32404859, 19)

In [31]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

In [32]:
# part 2: aggregated mean of the “order_number” column grouped by “department_id”
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### Part 3: according to this results the department id 21 which is equivalent to 'missing' has the highest frequency while department id 5 which is 'alcohol' has the lowest mean of order number. Also the subset didn't include the whole department ids. So we can say that the sub-sample was not representative of all the population.

# Addititional note: I think that the insight developed about this part of the analysis in this exercise is not logical. Because the 'order_number' is not the number of items bought by the user, but it is the sequence number of each order for each user_id as the first oreder, second order and etc. . As we check it, we can see that the order_number starts with 1 for all users and have a sequencial format and moreover for orders with 'order_number' of for example '1' we have more than 1 item in the shoping order. As a result I think this insight that mean of 'order_number' for each department is a sign of success or fail is not relevent.¶

In [33]:
ords_prods_merge[(ords_prods_merge['user_id']==1) & (ords_prods_merge['order_number']==1)]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
35791,2539329,1,prior,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders
51726,2539329,1,prior,1,2,8,0.0,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders
58202,2539329,1,prior,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders
60725,2539329,1,prior,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders

# Part 4: Create loyalty flag

In [34]:
# first define the new column as 'max_order' to show the maximum order_number using groupby and transform 
ords_prods_merge['max_order'] = ords_prods_merge.groupby('user_id')['order_number'].transform(np.max)

In [35]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10

In [36]:
# create loyalty_flag column using .loc
ords_prods_merge.loc[ords_prods_merge['max_order']>40, 'loyalty_flag'] = 'Loyal_customer'
ords_prods_merge.loc[(ords_prods_merge['max_order']>10) & (ords_prods_merge['max_order']<=40), 'loyalty_flag'] = 'Regular_customer'
ords_prods_merge.loc[ords_prods_merge['max_order']<=10, 'loyalty_flag'] = 'New_customer'

In [37]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,prior,1,2,8,0.0,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New_customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New_customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New_customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New_customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New_customer

In [38]:
ords_prods_merge['loyalty_flag'].value_counts()

Regular_customer    15876776
Loyal_customer      10284093
New_customer         6243990
Name: loyalty_flag, dtype: int64

In [39]:
# part 5: compare the shoping habits of different customers

ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'max', 'min']})

                     prices
                       mean      max  min
loyalty_flag
Loyal_customer    10.386336  99999.0  1.0
New_customer      13.294670  99999.0  1.0
Regular_customer  12.495717  99999.0  1.0

###### The maximum price of this table cannot be used for comparison because the number '99999' is not a real number and it has been used probably for 'missing values'. However, when we compare the average prices we can say that in average loyal customers by cheaper items comparing to new customers.

# Part 6: create spending flag for each user based on mean price of ordered items

In [40]:
# first create new column 'mean_order-price' by using groupby and transform
ords_prods_merge['mean_prder_price'] = ords_prods_merge.groupby('user_id')['prices'].transform(np.mean)
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_prder_price
0,2539329,1,prior,1,2,8,0.0,196,1,0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New_customer,6.367797
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New_customer,6.367797
2,473747,1,prior,3,3,12,21.0,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New_customer,6.367797
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New_customer,6.367797
4,431534,1,prior,5,4,15,28.0,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New_customer,6.367797

In [41]:
# second define the 'spending_flag' using .loc
ords_prods_merge.loc[ords_prods_merge['mean_prder_price']<10, 'spending_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['mean_prder_price']>=10, 'spending_flag'] = 'High spender'
ords_prods_merge.head(20)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_prder_price,spending_flag
0,2539329,1,prior,1,2,8,0.0,196,1,0,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New_customer,6.367797,Low spender
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New_customer,6.367797,Low spender
2,473747,1,prior,3,3,12,21.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New_customer,6.367797,Low spender
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New_customer,6.367797,Low spender
4,431534,1,prior,5,4,15,28.0,196,1,1,...,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New_customer,6.367797,Low spender
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New_customer,6.367797,Low spender
6,550135,1,prior,7,1,9,20.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New_customer,6.367797,Low spender
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New_customer,6.367797,Low spender
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New_customer,6.367797,Low spender
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New_customer,6.367797,Low spender
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular_customer,3.980556,Low spender
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular_customer,3.980556,Low spender
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular_customer,3.980556,Low spender
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular_customer,3.980556,Low spender
14,487368,15,prior,22,1,10,14.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular_customer,3.980556,Low spender
15,2293453,19,prior,2,5,14,6.0,196,3,0,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New_customer,8.372059,Low spender
16,1973799,19,prior,5,6,12,8.0,196,15,1,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New_customer,8.372059,Low spender
17,532817,19,prior,7,4,17,6.0,196,1,1,...,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,9,New_customer,8.372059,Low spender
18,1573906,21,prior,10,3,10,6.0,196,2,0,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,33,Regular_customer,7.012683,Low spender
19,1593000,31,prior,10,3,8,7.0,196,17,0,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,20,Regular_customer,8.137793,Low spender

In [42]:
# number of each customer type
from statistics import mode
ords_prods_merge.groupby('user_id')['spending_flag'].agg(lambda x: mode(x)).value_counts()

Low spender     200852
High spender      5357
Name: spending_flag, dtype: int64

# ### part 7: create 'frequency flag

In [43]:
# first determine the median of 'days_since_prior_order' for each user_id
ords_prods_merge['order_frequency'] = ords_prods_merge.groupby('user_id')['days_since_prior_order'].transform(np.median)
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_prder_price,spending_flag,order_frequency
0,2539329,1,prior,1,2,8,0.0,196,1,0,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New_customer,6.367797,Low spender,20.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New_customer,6.367797,Low spender,20.0
2,473747,1,prior,3,3,12,21.0,196,1,1,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New_customer,6.367797,Low spender,20.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,both,Mid-range product,Least busy,Slowest days,Average orders,10,New_customer,6.367797,Low spender,20.0
4,431534,1,prior,5,4,15,28.0,196,1,1,...,both,Mid-range product,Least busy,Slowest days,Most orders,10,New_customer,6.367797,Low spender,20.0

In [44]:
# define the flag using .loc
ords_prods_merge.loc[ords_prods_merge['order_frequency']> 20, 'frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['order_frequency']<=20) & (ords_prods_merge['order_frequency']>10) , 'frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['order_frequency']<=10, 'frequency_flag'] = 'Frequent customer'

ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_prder_price,spending_flag,order_frequency,frequency_flag
0,2539329,1,prior,1,2,8,0.0,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New_customer,6.367797,Low spender,20.0,Regular customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,New_customer,6.367797,Low spender,20.0,Regular customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New_customer,6.367797,Low spender,20.0,Regular customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New_customer,6.367797,Low spender,20.0,Regular customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Mid-range product,Least busy,Slowest days,Most orders,10,New_customer,6.367797,Low spender,20.0,Regular customer

In [45]:
# number of each customer type
ords_prods_merge.groupby('user_id')['frequency_flag'].agg(lambda x: mode(x)).value_counts()

Frequent customer        103446
Regular customer          59484
Non-frequent customer     43279
Name: frequency_flag, dtype: int64

In [46]:
# Export newly modified datafram
ords_prods_merge.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged_ver3.pkl'))